# Allows storing large binary files more efficiently
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[user]
    name = Caleb Burton
    email = ccburton4@gmail.com

# Ending the directory with / means include recursivly
[includeIf "gitdir:~/Documents/GitHub/"]
    path = ~/Documents/GitHub/.gitconfig
    [core]
        excludesfile = ~/Documents/GitHub/.gitignore

[includeIf "gitdir:~/Documents/Bitbucket/"]
    path = ~/Documents/Bitbucket/.gitconfig
    [core]
        excludesfile = ~/Documents/Bitbucket/.gitignore

[includeIf "gitdir:~/Nextcloud/CancerIQ/GitLab/"]
    path = ~/Documents/GitLab/.gitconfig
    [core]
        excludesfile = ~/Documents/GitLab/.gitignore

[core]
    editor = code --wait

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[pull]
    ff = only

# Avoid having to write `git push --set-upstream origin name`
# ^ doesn't seem to work
[push]
    default = simple
