# Allows storing large binary files more efficiently
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[user]
    name = Caleb Burton
    # This will be overwritten depending on the directory
    email = ccburton4@gmail.com

# Ending the directory with / means include recursivly
[includeIf "gitdir:~/Code/GitHub/"]
    path = ~/Code/GitHub/.gitconfig
    [core]
        excludesfile = ~/Code/GitHub/.gitignore

[includeIf "gitdir:~/Code/Bitbucket/"]
    path = ~/Code/Bitbucket/.gitconfig
    [core]
        excludesfile = ~/Code/Bitbucket/.gitignore

# [includeIf "gitdir:~/Nextcloud/CancerIQ/GitLab/"]
#     path = ~/Documents/GitLab/.gitconfig
#     [core]
#         excludesfile = ~/Documents/GitLab/.gitignore

[core]
    editor = code --wait

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[pull]
    ff = only

# Avoid having to write `git push --set-upstream origin name`
# (only works as of git version 2.37.0)
[push]
    default = simple
    autoSetupRemote = true
